<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%-5p] %c.%M:%L - %m%n" />
		</Console>
		<File name="Info" fileName="D:\logs\wsun\info.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
		<File name="Error" fileName="D:\logs\wsun\err.log">
			<BurstFilter level="error" rate="16" maxBurst="100"/>
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.foo.Bar" level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Info" />
		</Root>
	</Loggers>
</Configuration>